/**
 * @license
 * MyFonts Webfont Build ID 3458976, 2017-10-02T06:04:57-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: BrandonGrotesqueWeb-Light by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
 * Copyright: Copyright (c) 2015 by Hannes von Doehren. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3458976
 * 
 * © 2017 MyFonts Inc
*/

/*@font-face {font-family: 'BrandonGrotesqueWeb-Light';src: url('/static/fonts/34C7A0_0_0.eot');src: url('/static/fonts/34C7A0_0_0.eot?#iefix') format('embedded-opentype'),url('/static/fonts/34C7A0_0_0.woff2') format('woff2'),url('/static/fonts/34C7A0_0_0.woff') format('woff'),url('/static/fonts/34C7A0_0_0.ttf') format('truetype');}*/
@font-face {font-family: 'BrandonGrotesqueWeb-Light';
            src: url('/static/fonts/34C7A0_0_0.woff') format('woff'),
            url('/static/fonts/34C7A0_0_0.woff2') format('woff2')
            }

     
body {
    width: 100%;
    height: 100%;
    margin: 0;     
    padding: 0;
    font-family: BrandonGrotesqueWeb-Light, sans-serif;
    font-weight: 300;
}

img { color: transparent; }

a {
    color: black;
    text-decoration: none;
}

p {
   margin: 0;
   padding: 0;
}

/*classes*/

.absolute {
    position: absolute;
}

.bar {
    width: 100%;
    min-width: 1280px;
    background-image: url("/static/images/top_bar/top_bar_background.jpg");
    background-repeat:   repeat-x;
    z-index: 99;
}

.page_background {
    
}

.bars_background {
    background-color: #ebcf47;
}

.text_color_dark {
    color: white;
}

.text_size_large {
    font-size: 1em; 
}

.text_size_medium {
   font-size: 0.8em;
}

.text_size_small {
    font-size: 0.6em;
}

.center_vertical {
    top: 50%;
    transform: translateY(-50%);
}

.center_horizontal {
    left: 50%;
    transform: translateX(-50%);
}

.main_width {
    width: 1060px;
}

.main_padding_left {
    padding-left: 40px;
}

.team_boxes {
    position: relative;
    height: 440px;
    float: left;
}

.text_margin_bottom {
    margin-bottom: 30px;
}

.intro {
    color: #329B91;
    text-align: center;
    text-transform: uppercase;
    line-height: 130%;
}

.question {
    color: #E63264;
    text-transform: uppercase;
    line-height: 130%;
}

.answer {
    color: #466464;
    text-align: left;
    line-height: 130%;
}

.info {
    color: #466464;
    text-align: center;
    line-height: 130%;
}

.disable_uppercase {
    text-transform: none;
}

.tile_buttons_width {
    width: 200px;
}

.components_margin_top {
    margin-top: 100px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.contact_margin_top {
    margin-top: 30px;
}

.info_margin_top {
    margin-top: 30px;
}

.info_margin_topsmall {
    margin-top: 10px;
}


/*Loading Container*/

#loading_container {
    position: absolute;
    width: 100%;
    text-align: center;
}

#loading_container p:nth-child(1) {
    color: #329B91;
    font-size: 4em;
}

#loading_container p:nth-child(2) {
    color: #E63264;
    font-size: 2em;
}

#loading_container p:nth-child(3) {
    font-size: 1.5em;
}

#loading_container img {
    height: 150px;
}

/*Top Bar*/

#top_bar {
    display: none;
    top: 0;
    position: fixed;
}

.top_bar_height {
    height: 180px;
}

#top_bar_top_content_container {
    position: relative;
}

.top_bar_top_content_height {
   height: 30px; 
}

#top_bar_text {
    position: absolute;
    margin-left: 47px;
    cursor: pointer;
}

#top_bar_navi {
    position: absolute;
    width: 500px;
    left: 570px;
}

#top_bar_navi img {
    position: relative;
    cursor: pointer;
}

.navi_margin_left {
    margin-left: 20px;
}

#top_bar_sub_menu_container {
    position: relative;
    width: 100%;
    height: 100%;
}

#top_bar_logo_container {
    float: left;
    position: relative;
    width: 380px;
    height: 150px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

#top_bar_logo_container img {
    position: relative;
}

#navi_container {
    position: relative;
    float: left;
    width: 400px;
    height: 80px;
    background-color: white;
}

#navi_container img {
    position: relative;
    width: 80px;
    cursor: pointer;
}

.navi_img_margin_left {
    margin-left: 20px;
}

#virtual_top_bar {
    width: 100%;
}

/*Main Container*/

#main_container {
    display: none;
    font-weight: 300;
}

/*Navi*/

#navi_butterf_green {
   top: 277px;
   right: 310px; 
}

#navi_butterf_yellow {
    top: -125px;
    right: 100px;
}

#navis_container {
    width: 100%;
    height: 1030px;
}

#notice {
    width: 175px;
    margin-top: 150px;
    margin-left: 10px;
}

.navi_containers {
    position: relative;
    width: 33.33%;
}

.navi_containers img {
    position:  absolute;
    max-height: 100%;
    max-width: 100%;
}

#navi_img_container_1  {
    top: 20px;
}

#navi_img_container_2 {
    top: 80px;
}

#navi_img_container_3 {
    top: -70px;
}

#navi_img_container_4 {
    top: 70px;
}

#navi_img_container_5 {
    top: 120px;
}

#navi_img_container_6 {
    top: -70px;
}



.navi_buttons {
    width: 170px;
    bottom: 0;
    cursor: pointer;
}

.navi_background_img {
    display: none;
}

/*Interviews*/

#interviews_butterf_green {
   top: -21px;
   right: 251px; 
}

#interviews_butterf_yellow {
    top: 459px;
    right: 187px;
}

#interviews_butterf_green_2 {
   top: 300px;
   right: 324px; 
}

#interviews_butterf_yellow_2 {
    top: -29px;
    right: 226px;
}

#interviews_butterf_green_3 {
   top: 166px;
   right: 9px; 
}

#interviews_butterf_yellow_3 {
    top: 7px;
    right: 59px;
}

#interviews_container {
    position: relative;
    width: 100%;
    height: 4400px;
}

.interview_container {
    position: relative;
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
}

.interview_img_name {
    position: absolute;
    top: 10px;
    left: 65px;
}

.interview_container_1 {
    height: 52%;
}

.interview_container_2 {
    height: 48%;
}

.interview_img_container {
    width: 100%;
    float: none;
}

.interview_img_container img{
    position: absolute;
}

.interview_img_container img:nth-child(1) {
    display: none;
}

.interview_content_container {
    position: relative;
    width: 100%;
    height: 18%;
}

#interview_img_container {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}

.interview_quotes {
    position: absolute;
    width: 90%;
    bottom: 0;
    opacity: 0;
    color: #329B91;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.interview_galery_container{
    position: relative;
    width: 100%;
    height: 25%;
}

.interview_galery_container img {
    max-width: 100%;
    max-height: 100%;
}

.interview_galery_height {
   height: 34%; 
}

/*Team*/

#team_container {
    position: relative;
    width: 100%;
    height: 2147px;
}

#team_title {
    position: absolute;
    bottom: 100%;
    right: 72px;
}

.team_containers {
    width: 33.33%;
    height: 450px;
    text-align: center;
}

.team_imgs_container {
    width: 100%;
    height: 375px;
    max-width: 100%;
    max-height: 100%;
}

.team_containers img{
    position: absolute;
}

.team_info_container {
    position: relative;
    margin: auto;
    width: 250px;
    height: 140px;
    text-align: center;
}

.team_quote {
    position: absolute;
    opacity: 0;
    width: 250px;
    height: 140px;
    background-color: white;
}

.team_quote p {
    margin-top: 5px;
}

/*House*/

#house_butterf_green {
   top: 39px;
   right: 84px; 
}

#house_container {
    position: relative;
    width: 100%;
    height: 1350px;
}

#house_address:hover {
    color: #E63264;
}

.house_imgs_container {
    width: 100%;
    height: 375px;
    max-width: 100%;
    max-height: 100%;
}

#house_description {
    margin-top: 30px;
}

/*Info*/

#info_container {
    position: relative;
    width: 100%;
    height: 140px;
}

#info_info1 {
    width: 25%;
    height: 100%;
    float: right;
}

#info_info2 {
    width: 30%;
    height: 100%;
    float: left;
	text-align: center;
}

#info_info3 {
    width: 30%;
    height: 100%;
    float: left;
	text-align: center;
}


#info_info1 img {
    width: 180px;
}

#info_map_container {
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
}

/*Contact*/

#contact_container {
   position: relative;
    width: 100%;
    height: 415px;
}

#contact_info {
    width: 30%;
    height: 100%;
    float: left;
}

#contact_info img {
    width: 180px;
}

#contact_map_container {
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
}

/*Bottom Bar*/

#bottom_bar_red_line {
    display: none;
    width: 100%;
    height: 3px;
    background-image: url("/static/images/bottom_bar/red_line.png");
    background-repeat:   repeat-x;
}

#bottom_bar {
    display: none;
    position: relative;
    height: 100px;
    margin-top: 10px;
}

#bottom_bar div {
    float: left;
    width: 33.33%;
    height: 100%;
}

#bottom_bar_background {
   display: none; 
}
