@import url("/css/main.css");

#error-container {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    z-index: 100000;
}

#error-title {
    font-size: 3em;
}

#error-btn {
   margin: auto;
   margin-top: 10px;
   width: 250px;
   padding: 10px;
   background: #cccccc;
}



