@import url("/css/main.css");

h1 {
    margin: 0;
}

#data-p-container {
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

#data-p-title {
    margin-top: 10px;
}
